# Ignore log files
*.log

# Ignore environment variables file
.env

node_modules/

config/default.json

# Ignore all node_modules folders in subfolders
**/node_modules

# Ignore all config default.json files in subfolders
**/config/default.json